.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/MicrosoftTeams-image20.png?rand=c697");
  background-position: 50% 50%;
  min-height: 857px;
}

.u-section-1 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/MicrosoftTeams-image20.png");
  min-height: 857px;
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
  background-size: auto 104.5%;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  width: 573px;
  height: 399px;
  margin: 289px auto 0 75px;
}

.u-section-1 .u-group-2 {
  width: 561px;
  min-height: 486px;
  margin: -433px 23px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 19px 30px 0;
}

.u-section-1 .u-text-1 {
  letter-spacing: 2px;
  font-size: 3rem;
  line-height: 1;
  font-family: Amaranth;
  font-weight: bold;
  margin: 42px 0 0 19px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  background-image: none;
  font-weight: 400;
  margin: 23px 0 0 42px;
}

.u-section-1 .u-btn-1 {
  animation-duration: 1000ms;
  background-image: none;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 28px 96px;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 19px 89px 0 42px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  animation-duration: 1000ms;
  padding: 26px 76px 26px 75px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  animation-duration: 1000ms;
  margin: 15px auto 0 40px;
  padding: 25px 48px;
}

.u-section-1 .u-text-4 {
  font-size: 2.25rem;
  font-family: "Abhaya Libre";
  font-style: italic;
  margin: 0 89px 0 103px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    background-size: auto 105%;
    min-height: 707px;
  }

  .u-section-1 .u-image-1 {
    background-size: 160%;
  }

  .u-section-1 .u-image-2 {
    height: 400px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 40px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 542px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 407px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 377px;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
    margin-top: -410px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 256px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 237px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-top: -270px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 28px 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }
}.u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/istockphoto-951385738-612x612.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 629px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 1182px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0 0;
}

.u-section-2 .u-image-1 {
  width: 480px;
  height: 701px;
  margin: 153px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 1182px;
}

.u-section-2 .u-container-layout-2 {
  padding: 15px 0 0;
}

.u-section-2 .u-text-1 {
  font-style: normal;
  font-size: 3.125rem;
  margin: 79px 18px 0 43px;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  font-family: "Roboto Condensed", sans-serif;
  margin: 4px 0 0 25px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 758px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 975px;
  }

  .u-section-2 .u-image-1 {
    width: 470px;
    height: 514px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 975px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 747px;
  }

  .u-section-2 .u-image-1 {
    width: 360px;
    height: 467px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1121px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 706px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 441px;
  }
}.u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/desert-storm-wheather-weather-changes-wallpaper-preview.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 666px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 14px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 650px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 13px 25px 0;
}

.u-section-3 .u-text-1 {
  font-style: normal;
  font-size: 2.25rem;
  margin: 50px 18px 0 30px;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  font-family: "Roboto Condensed", sans-serif;
  margin: 20px 0 0 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 1089px;
}

.u-section-3 .u-container-layout-2 {
  padding: 15px 0 0;
}

.u-section-3 .u-image-1 {
  height: 394px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-3 .u-image-2 {
  height: 416px;
  margin-top: 264px;
  margin-bottom: 0;
  margin-right: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 357px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 536px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 898px;
  }

  .u-section-3 .u-image-1 {
    height: 325px;
    margin-right: initial;
  }

  .u-section-3 .u-image-2 {
    height: 343px;
    margin-right: initial;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 688px;
  }

  .u-section-3 .u-image-1 {
    height: 249px;
    margin-right: initial;
  }

  .u-section-3 .u-image-2 {
    height: 263px;
    margin-right: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 1032px;
  }

  .u-section-3 .u-image-1 {
    height: 374px;
    margin-right: initial;
  }

  .u-section-3 .u-image-2 {
    height: 395px;
    margin-right: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 650px;
  }

  .u-section-3 .u-image-1 {
    height: 235px;
    margin-right: initial;
  }

  .u-section-3 .u-image-2 {
    height: 249px;
    margin-right: initial;
  }
}.u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/MicrosoftTeams-image111.png");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 550px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  width: 590px;
  margin: 73px auto 0;
}

.u-section-4 .u-form-1 {
  width: 570px;
  margin: 17px auto 60px;
}

.u-section-4 .u-btn-1 {
  font-size: 1.5rem;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 535px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-form-1 {
    width: 340px;
  }
}